{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="container-layout">
    <form action="/login" method="post" class="py-5">
        <div class="mb-3">
            <input
                autocomplete="off"
                autofocus
                class="form-control mx-auto w-auto"
                id="username"
                name="username"
                placeholder="Username"
                type="text"
            >
        </div>
        <div class="mb-3">
            <input
                class="form-control mx-auto w-auto"
                id="password"
                name="password"
                placeholder="Password"
                type="password"
            >
        </div>
        <div class="mb-3">
            <button
                class="btn btn-primary"
                type="submit"
            >Log In</button>
        </div>
        <div class="mb-3">
            <p>Need to create a new user? <a href="/register">Register</a></p>
        </div>
    </form>
</div>

{% endblock %}
